body {
  background-image: url("/Users/zenshigeryoji/projects/portfolio/img/b064.gif");
}

.title-area{
  height: 100vh;
  background: gray;
  position: relative;
}

.title{
  width: 700px;
  margin:0 auto;
  text-align: center;
  color: white;
  font-size: 60px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}

.title-top{
}

.title-bottom{
  margin-top: 15px;
}

.fa-chevron-down{
  font-size: 40px;
  color: white;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}

.profile-area{
  width: 1200px;
  margin: 0 auto;
}

.profile-title{
  font-size: 50px;
  font-weight: 650;
  text-align: center;
  padding: 50px 0;
}

.profile-title-marker{
  background:linear-gradient(transparent 75%, #fff799 75%);
}

.profile-form{
  display: flex;
}

.profile-list{
  width: 50%;
}

.profile-list{
  position: relative;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 2px white;
  padding: 40px 20px;
  color: #454545;
}
.profile-list:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.profile-name-form{
  width: 350px;
  text-align: center;
  margin: 0 auto;
}


.profile-name{
  font-size: 34px;
}

.profile-rome{
  color: gray;
}

.profile-bottom{
}

.profile-table{
  margin-top: 30px;
}

.profile-table th{
  width: 20%;
  font-weight: normal;
  padding-top: 10px;
  padding-right:5px;
  text-align: right;
}

.profile-table td{
  padding-top: 10px;
}

.profile-table i{
  /* font-size: 26px; */
}

.table-left{
  margin-left: 5px;
}

.profile-detail{
  width: 50%;
  padding: 30px 0 30px 50px;
  margin-left: 40px;
  background: #f5f5f5;
}

.estate-main-headline{
  font-size: 50px;
  font-weight: 650;
  text-align: center;
  margin: 100px 0;
  background: #b22222;
  color: white;
  padding: 20px 0;
}

.estate-area{
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.estate-title{
  width: 700px;
  font-size: 50px;
  font-weight: 600;
  border: solid 5px;
  padding: 10px;
  position: absolute;
  top: 10px;
  z-index: 9999;
}

.estate-detail-title{
  width: 500px;
  background: gray;
  position: absolute;
  top: 170px;
  text-align: center;
}

.estate-detail{
  width: 500px;
  background: red;
  position: absolute;
  top: 200px;
  line-height: 120%;
}

.estate-img{
  width: 600px;
  height: 400px;
  background: blue;
  position: absolute;
  top: 50px;
  right: 0;
}

.estate-skill-form{
  background: red;
}

.estate-skill{
  width: 1240px;
  margin: 0 auto;
  display: flex;
}

.estate-skill1{
  width: 400px;
  margin-right: 20px;
  background: #f0fff0;
}

.estate-skill1-img{
  width: 400px;
  height: 300px;
  background: blue;
}

.estate-skill1-headline{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding-top: 10px;
}

.estate-skill1-explanation{
  margin-top: 10px;
  padding: 0 15px 15px;
  line-height: 150%;
}

.estate-skill2{
  width: 400px;
  background: #f0fff0;
}

.estate-skill2-img{
  width: 400px;
  height: 300px;
  background: blue;
}

.estate-skill2-headline{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding-top: 10px;
}

.estate-skill2-explanation{
  margin-top: 10px;
  padding: 0 15px 15px;
  line-height: 150%;
}

.estate-skill3{
  width: 400px;
  margin-left: 20px;
  background: #f0fff0;
}

.estate-skill3-img{
  width: 400px;
  height: 300px;
  background: blue;
}

.estate-skill3-headline{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding-top: 10px;
}

.estate-skill3-explanation{
  margin-top: 10px;
  padding: 0 15px 15px;
  line-height: 150%;
}

.pro-main-headline{
  font-size: 50px;
  font-weight: 650;
  text-align: center;
  margin: 100px 0;
  background: #4169e1;
  color: white;
  padding: 20px 0;
}

.pro-area{
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.pro-title{
  width: 700px;
  font-size: 50px;
  font-weight: 600;
  border: solid 5px;
  padding: 10px;
  position: absolute;
  top: 10px;
  z-index: 9999;
}

.pro-detail-title{
  width: 500px;
  background: gray;
  position: absolute;
  top: 170px;
  text-align: center;
}

.pro-detail{
  width: 500px;
  background: red;
  position: absolute;
  top: 200px;
  line-height: 120%;
}

.pro-img{
  width: 600px;
  height: 400px;
  background: blue;
  position: absolute;
  top: 50px;
  right: 0;
}

.skillbar{
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  background: orange;
}

.work-main-headline{
  font-size: 50px;
  font-weight: 650;
  text-align: center;
  margin: 100px 0;
  background: #ffd700;
  color: white;
  padding: 20px 0;
}

.work-area{
  width: 1200px;
  margin: 0 auto;
}

.app-list{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.app-left{
  width: 400px;
  margin-right: 40px;
  background: #f0fff0;
}

.furima{
  width: 400px;
  height: 300px;
  background: blue;
}

.furima-detail{
  padding: 10px 15px 15px;
  line-height: 150%;
}

.app-right{
  width: 400px;
  background: #f0fff0;
}

.plando{
  width: 400px;
  height: 300px;
  background: red;
}

.plando-detail{
  padding: 10px 15px 15px;
  line-height: 150%;
}

.footer{
  background: #696969;
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 30px 0;
}
